.sidebar{
    display: block;
    align-items: center ;
    flex-direction: column;
    margin: 80px;
    background: #c80021;
    height: 50px;
    width: 1000px;
    font-size: 18pt;
    padding: 10px;
}




