
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.wrapper > div{
    padding: 1em;
    background-color: #4129ff;
}

.wrapper > div.light {
    padding: 1em;
    background-color: #ff1109;
}



